/* Med One Red: #861728
* {
   border: 1px solid black;
}*/

body {
  text-align: center;
  font-family: /* Roboto, */ sans-serif;
  font-size: 18px;
}

header {
  color: #861728;
}


/* Navigation Links */

nav {
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: black;
}

nav a:hover {
  color: #861728;
  border-bottom: 5px solid #861728;
}


/* Main Content */

/* Mobile App */

#app {
  background-image: url("my_gnp.jpg");
  height: 500px;
}
