/* Med One Red: #800000 #861728 */
/* * {
  border: 1px dotted black;
} */

body {
  font-family: sans-serif;
  font-size: 1.5em;
  margin: 0;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

h1, h2, h3 {
  color: #800000;
}

/* Header */

header {
  text-align: center;
}

header img {
  width: 50%;
  max-width: 250px;
  margin: 1em;
}

/* Navigation */

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
}

nav li:first-child {
  /* display: none; */
}

nav a:link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1em;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: #800000;
}

nav a:active {
  color: white;
  background-color: #800000;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

h1, h2, h3 {
  color: #800000;
}

/* Slideshow */

#home {
  max-width: 100%; /* override section default */
  height: 500px;
  background-image: url(https://placeimg.com/640/480/nature);
  background-size: cover;
  background-position: center;
}

/* Mobile App */

#my-gnp {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

#downloads {
  text-align: center;
}

.download-button {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 1em;
}

/* Locations */

#locations {
  max-width: 100%; /* override section default */
}

#map {
  border: 0;
  width: 100%;
  height: 500px;
}

#location-list ul {
  margin: 0;
  padding: 0;
}

#location-list ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2em;
  padding-left: 1em;
  border-left: 3px solid #800000;
  margin: .5em;
}

#locations h3 {
  margin: 0;
}

/* Footer */

footer {
  text-align: center;
  font-size: small;
  padding: 1em;
}

/* Responsive Layout */

@media (min-width: 769px) {

  nav li {
    display: inline-block;
  }

  /* Show 'Home' link in nav -- only if it follows user down the page */
  /* nav li:first-child {
    display: inline-block;
  } */

  nav a {
    display: inline-block;
    padding: 20px 0;
  }

}

@media (min-width: 1001px) {

  #locations {
    height: 750px;
    padding: 0;
  }

  #locations h2 {
    /* display: none; */
  }

  #map {
    float: left;
    width: 50%;
    height: 100%;
  }

  #location-list {
    float: right;
    height: 100%;
    width: 50%;
    overflow-y: scroll;
  }

  #location-list ul {
    margin-left: 2em;
  }

}
