/* Med One Red: #800000 #861728 */
* {
  /* border: 1px solid black; */
}

body {
  font-family: /* Roboto, */ sans-serif;
  font-size: 1.5em;
  margin: 0;
}

/* Header */

header {
  text-align: center;
}

header img {
  width: 50%;
  margin: 1em;
  /* height: 120px;
  width: auto;
  margin-top: 25px;
  margin-bottom: 5px; */
}

/* Navigation */

nav {
  /* padding: 15px 0; */
}

nav a:first-child {
  display: none;
}

nav a:link {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1em;
  /* padding: 10px 20px; */
}

nav a:hover {
  color: #800000;
  border-right: .25em solid #800000;
  border-left: .25em solid #800000;
}

nav a:active {
  color: white;
  background-color: #800000;
  /* color: #800000;
  border-bottom: 5px solid #800000; */
}

/* Main Content */

section {
  /* height: 500px; */
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 1em;
}

h1, h2, h3 {
  color: #800000;
  margin-top: 0;
}

#home {
  /* background-image: url(https://placeimg.com/640/480/nature); */
  /* background-size: cover; */
}

/* Mobile App */

#app {
  background: url(../images/my-gnp.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

#downloads {
  margin: 25px;
}

.download-button {
  width: auto;
  height: 80px;
  margin-bottom: 10px;
}

/* Locations */

#locations {
  max-width: 100%;
  height: 800px;
}

#map {
  border: 0;
  float: left;
  width: 50%;
  height: 100%;
}

#location-list {
  float: right;
  height: 100%;
  width: 50%;
  overflow-y: scroll;
}

#location-list ul {
  padding: 0;
  margin: 20px;
}

#location-list ul li {
  clear: both;
  list-style-type: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #800000;
  margin-bottom: 10px;
}

#locations h3 {
  margin: 0;
}

/* Footer */

footer {
  text-align: center;
  font-size: small;
}

/* Responsive Layout */

@media (min-width: 769px) {

  /* * {
    border: 1px solid black;
  } */

  nav a {
    display: block;
    padding: 20px 0;
  }

  #app {
    background: url(../images/my-gnp-crop.jpg);
    background-size: cover;
  }

}
